{% extends 'layout.html' %}
{% block body %}

    <!--navigation-------------->
  
    <section id="main">
        <!--showcase----------------------->
        <!--heading------------->
        <h1 class="showcase-heading">Showcase</h1>

        <ul id="autoWidth" class="cs-hidden">

            <!--box-1--------------------------->
            {%for latest in latest%}
            <li class="item-a">
                <!--showcase-box------------------->
                <a href="/movies/download/{{latest.slug}}">
       <div class=" showcase-box">
                    {%set fname = 'assets/img/' + latest.img_name%}
                    <img src="{{url_for('static',filename=fname)}}" />
                    </div>
                </a>
            </li>
            {%endfor%}
            <!--box-2--------------------------->
        </ul>

    </section>
    <!--latest-movies---------------------->
    <section id="latest">
        <h2 class="latest-heading"><a href="/industry/{{first_row}}">{{first_row}}</a></h2>
        <!--slider------------------->
        <ul id="autoWidth2" class="cs-hidden">
            <!--slide-box-1------------------>
            {% for action in action %}
            <li class="item-a">
                <div class="latest-box">
                    <!--img-------->
                    {%set fname = 'assets/img/' + action.img_name %}
                    <a href="/movies/download/{{action.slug}}">
                        <div class="latest-b-img">
                            <img src="{{url_for('static',filename=fname)}}" alt="{{action.name}}">
                        </div>

                        <!--text---------->
                        <div class="latest-b-text">
                            <strong>{{action.name}}</strong>
                            <p>{{action.description[0:15]+"..."}}</p>
                        </div>
                    </a>
                </div>
            </li>
            {% endfor %}
            <!--  -->
        </ul>
    </section>
    <section id="latest">
        <h2 class="latest-heading"><a href="/industry/{{second_row}}">{{second_row}}</a></h2>
        <!--slider------------------->
        <ul id="autoWidth2" class="cs-hidden">
            <!--slide-box-1------------------>
            {% for romance in romance %}
            <li class="item-a">
                <div class="latest-box">
                    <!--img-------->
                    {%set fname = 'assets/img/' + romance.img_name %}
                    <a href="/movies/download/{{romance.slug}}">
                        <div class="latest-b-img">
                            <img src="{{url_for('static',filename=fname)}}"" alt="{{romance.name}}">
                        </div>

                        <!--text---------->
                        <div class="latest-b-text">
                            <strong>{{romance.name}}</strong>
                            <p>{{romance.description[0:15]+"..."}}</p>
                        </div>
                    </a>
                </div>
            </li>
            {% endfor %}
            <!--  -->
        </ul>
    </section>
    <section id="latest">
        <h2 class="latest-heading"><a href="/industry/{{third_row}}">{{third_row}}</h2>
        <!--slider------------------->
        <ul id="autoWidth2" class="cs-hidden">
            <!--slide-box-1------------------>
            {% for horror in horror %}
            <li class="item-a">
                <div class="latest-box">
                    <!--img-------->
                    {%set fname = 'assets/img/' + horror.img_name %}
                    <a href="/movies/download/{{horror.slug}}">
                        <div class="latest-b-img">
                            <img src="{{url_for('static',filename=fname)}}" alt="{{horror.name}}">
                        </div>

                        <!--text---------->
                        <div class="latest-b-text">
                            <strong>{{horror.name}}</strong>
                            <p>{{horror.description[0:15]+"..."}}</p>
                        </div>
                    </a>
                </div>
            </li>
            {% endfor %}
            <!--  -->
        </ul>
    </section>
    <section id="latest">
        <h2 class="latest-heading"><a href="/industry/{{fourth_row}}">{{fourth_row}}</a></h2>
        <!--slider------------------->
        <ul id="autoWidth2" class="cs-hidden">
            <!--slide-box-1------------------>
            {% for comedy in comedy %}
            <li class="item-a">
                <div class="latest-box">
                    <!--img-------->
                    {%set fname = 'assets/img/' + comedy.img_name %}
                    <a href="/movies/download/{{comedy.slug}}">
                        <div class="latest-b-img">
                            <img src="{{url_for('static',filename=fname)}}" alt="{{comedy.name}}">
                        </div>

                        <!--text---------->
                        <div class="latest-b-text">
                            <strong>{{comedy.name}}</strong>
                            <p>{{ comedy.description[0:15]+"..."}}</p>
                        </div>
                    </a>
                </div>
            </li>
            {% endfor %}
            <!--  -->
        </ul>
    </section>
        <!--btns--------------->
        <div class="bottom d-flex justify-content-between mb-4">
            <a style="{{display_priv}}" class="previous-btn btn btn-myweb text-uppercase" href="?page={{priv}}">&larr; Previous</a>
            <a style="{{display_next}}"class="next-btn btn-myweb text-uppercase" href="?page={{next}}">Next →</a>
        </div>
    <script>
        $(document).ready(function () {
            $('#autoWidth,#autoWidth2').lightSlider({
                autoWidth: true,
                loop: true,
                onSliderLoad: function () {
                    $('#autoWidth,#autoWidth2').removeClass('cS-hidden');
                }
            });
        });
    </script>
{% endblock %}