<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/lightslider.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootsrap.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}} ">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.ico')}}" />
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/JQuery3.3.1.js')}}"></script>
    <script src="{{url_for('static',filename='js/lightslider.js')}}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Movie Website</title>
</head>

<body>

 <!-- <nav>
         logo------------- 
        <a href="#" class="logo">
            <img src="{{url_for('static',filename='assets/img/logo.png')}}" />
        </a>
         menu--btn--------------- 
        <input type="checkbox" class="menu-btn" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
            <span class="nav-icon"></span>
        </label>
         menu------------ 
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">TV Shows</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li><a href="#">Horror</a></li>
        </ul>
        search----------- 
        <div class="search"> 
            <input type="text" name='search' placeholder="Find Your Favourite Movies" />
            search-icon---------
            <i class="fas fa-search"></i>
        </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-between">
      <a class="navbar-brand" href="#"><img src="{{url_for('static',filename='assets/img/logo.png')}}" alt="logo" height="36"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Action</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Comedy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Horror</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/?catagory=genre">Genre</a>
          <a class="dropdown-item" href="/?catagory=film">Film Industry</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#">Date</a>
        </div>
      </li>
    </ul>
    <form id="form-color">
        <div class="search"> 
            <input type="text" name='search' placeholder="Find Your Favourite Movies">
            <button><i class="fas fa-search"></i></button>
        </div>
    </form>
  </div>
</nav>
{% block body %}{% endblock %}
</body>

<!--footer------------------>
<footer>
    <p>Going To Internet, Ltd Consumer Website</p>
    <p>Copyright 2020 - GoingToInternet</p>
</footer>

</html>