<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/lightslider.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}} ">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.ico')}}" />
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/JQuery3.3.1.js')}}"></script>
    <script src="{{url_for('static',filename='js/lightslider.js')}}"></script>
    <title>Movie Website</title>
</head>

<body>
    <nav>
        <!--logo--------------->
        <a href="#" class="logo">
            <img src="{{url_for('static',filename='assets/img/logo.png')}}" />
        </a>
        <!--menu--btn----------------->
        <input type="checkbox" class="menu-btn" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
            <span class="nav-icon"></span>
        </label>
        <!--menu-------------->
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">Hollywood</a></li>
            <li><a href="#">Horror</a></li>
        </ul>
        <!--search------------->
        <div class="search">
            <input type="text" placeholder="Find Your Favourtie Movies" />
            <!--search-icon----------->
            <i class="fas fa-search"></i>
        </div>
    </nav>
{% block body %}{% endblock %}
</body>

<!--footer------------------>
<footer>
    <p>Going To Internet, Ltd Consumer Website</p>
    <p>Copyright 2020 - GoingToInternet</p>
</footer>

</html>