{% extends 'layout.html' %}
{% block body %}
<!--movies---------------------------->
<div class="movies-heading">
    <h2>Movies</h2>
</div>
<section id="movies-list">
    <!--box-1------------------------>
    <div class="movies-box">
        <!--img------------>
        <div class="movies-img">
            <div class="quality">HDRip</div>
            <img src="{{url_for('static',filename='assets/img/l-1.jpg')}}">
        </div>
        <!--text--------->
        <a href="#">
            Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
        </a>
    </div>
    <!--box-2------------------------>
    <div class="movies-box">
        <!--img------------>
        <div class="movies-img">
            <div class="quality">HDRip</div>
            <img src="{{url_for('static',filename='assets/img/l-2.jpg')}}">
        </div>
        <!--text--------->
        <a href="#">
            Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
        </a>
    </div>
    <!--box-3------------------------>
    <div class="movies-box">
        <!--img------------>
        <div class="movies-img">
            <div class="quality">HDRip</div>
            <img src="{{url_for('static',filename='assets/img/l-3.jpg')}}">
        </div>
        <!--text--------->
        <a href="#">
            Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
        </a>
    </div>
    <!--box-4------------------------>
    <div class="movies-box">
        <!--img------------>
        <div class="movies-img">
            <div class="quality">HDRip</div>
            <img src="{{url_for('static',filename='assets/img/l-4.jpg')}}">
        </div>
        <!--text--------->
        <a href="#">
            Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
        </a>
    </div>
    <!--box-5------------------------>
    <div class="movies-box">
        <!--img------------>
        <div class="movies-img">
            <div class="quality">HDRip</div>
            <img src="{{url_for('static',filename='assets/img/l-5.jpg')}}">
        </div>
        <!--text--------->
        <a href="#">
            Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
        </a>
    </div>
    <!--box-6------------------------>
    <div class="movies-box">
        <!--img------------>
        <div class="movies-img">
            <div class="quality">HDRip</div>
            <img src="{{url_for('static',filename='assets/img/l-6.jpg')}}">
        </div>
        <!--text--------->
        <a href="#">
            Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
        </a>
    </div>
    <!--box-7------------------------>
    <div class="movies-box">
        <!--img------------>
        <div class="movies-img">
            <div class="quality">HDRip</div>
            <img src="{{url_for('static',filename='assets/img/l-7.jpg')}}">
        </div>
        <!--text--------->
        <a href="#">
            Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
        </a>
    </div>
    <!--box-8------------------------>
    <div class="movies-box">
        <!--img------------>
        <div class="movies-img">
            <div class="quality">HDRip</div>
            <img src="{{url_for('static',filename='assets/img/l-8.jpg')}}">
        </div>
        <a href="#">
            Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
        </a>
        <!--text--------->
    </div>
</section>

{% endblock %}