{% extends 'layout.html' %}
{% block body %}
<!--movies---------------------------->
<div class="movies-heading">
    <h2>Movies</h2>
</div>
<section id="movies-list">
    <!--box-1------------------------>
    {%for movie in movies%}
    <div class="movies-box">
        <!--img------------>
        {%set fname = 'assets/img/' + movie.img_name %}

        <div class="movies-img">
            <!-- <div class="quality">HDRip</div> -->
            <img src="{{url_for('static',filename=fname)}}">
        </div>
        <!--text--------->
        <a href="movies/download/{{movie.slug}}">
            <h3>{{movie.name}}</h3>
        </a>
    </div>
    {%endfor%}


</section>

{% endblock %}