{% extends 'layout.html' %}
{% block body %}
{% set fname = 'assets/img/' + movie.img_name %}
<style>
  .container2 {
    position: relative;
    width: 100%;
    /* border: 2px solid limegreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container2 .card2 {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 10px;
    padding: 15px;
    /* border: 2px solid red; */
    /* box-shadow: -3px 3px rgba(0, 0, 0, 0.2); */
    justify-content: space-between;
    transition: .3s;
  }

  .container2 .card2:hover {
    /* box-shadow: -8px 8px rgba(0, 0, 0, 0.2); */
    animation: pulse 1s ease-in-out;
    transition: .3s;
  }

  .container2 .card2 .card-img {
    max-width: 220px;
    flex: 0 0 220px;
  }

  .container2 .card2 .card-img img {
    max-width: 100%;
    /* height: 90%; */
    border-radius: 20px;
  }

  .container2 .card2 .description {
    margin-left: 20px;
    margin-top: 0px;
    color: #585858;
    /* letter-spacing: 1.5px; */
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: capitalize;
  }

  .container2 .description {
    margin: 2rem;
    /* margin-top: 0px;/ */
    color: #585858;
    /* letter-spacing: 1.5px; */
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: capitalize;
  }

  .container2 .card2 .description h2,
  p {
    margin-top: 0px;
  }

  .download_links {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* flex-wrap: wrap; */
    /* border: 2px solid cyan; */
    margin: auto
  }

  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin: 5rem;
    margin-top: 2px;
    height: 0;
  }

  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .buttn {
    position: relative;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: .2rem;
    width: 158px;
    height: 38px;
    color: #fff;
    border: 1px solid #3c73ff;
    border-radius: 13px 13px 13px 13px;
    /* background-color: #3c73ff; */
    background-image: linear-gradient(to bottom right,#3c73ff, cyan);
    -webkit-box-shadow: 0px 1px 3px 0px #333333;
    -moz-box-shadow: 0px 1px 3px 0px #333333;
    box-shadow: 0px 1px 3px 0px #333333;
    transition: .3s;
  }

  .buttn:hover {
    box-shadow: 8px 8px #99bdff;
    transition: .3s;
  }
  .buttn:focus{
    outline: none;
    /* transition: .2s; */
    animation: pulse .5s ease-in-out;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: .7;
    }

    70% {
      transform: scale(.9);
      opacity: .5;
    }

    100% {
      transform: scale(1);
      opacity: .3;
    }
  }



  @media(max-width:1100px) {
    .container2 .card2 {
      flex-direction: column;
      /* border: 2px solid cyan; */
    }

    .container2 .card2 .card-img {
      max-width: 100%;
    }

    .container2 .download_links {
      flex-direction: column;
      justify-content: center;
    }

    .container2 .buttn {
      margin: auto;
      margin-top: 10px;
    }

    .container2 .card2 .description {
      margin-top: 2rem;
    }

    .video-responsive {
      margin: auto;
    }

    .buttn:hover {
      animation: pulse .5s ease-in-out;
      transition: .3s;
    }
  }
</style>
<div class="container2">
  <div class="card2">
    <div class="card-img">
      <img src={{url_for('static', filename=fname)}} alt={{movie.name}}>
    </div>
    <div class="description">
      <h2 class="title">{{movie.name}}</h2>
      <p>
        <!-- {{movie.description.split('\n')[0]}} -->
        <strong>Director:</strong> Madarchud<br>
        <strong>Language:</strong> English<br>
        <strong>Film Industry:</strong> {{movie .film_industry}}<br>
        <strong>Genres:</strong> {{movie.genre}}<br>
        <strong>Cast:</strong> Sharukh khan, kriti kharbanda<br>
      </p>
    </div>
  </div>
</div>
<div class="container2">
  <div class="description">
    <h2>Description: </h2>
    {%for description in movie.description.split('\n') %}
    <p>{{description}}</p>
    {%endfor%}
  </div>
</div>

<h2 style="text-align:center;color: #585858;">Trailer</h2>
<div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bknybcgfjAk" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
<div class="container2" style="flex-direction: column;">
  <h2 style="color: var(--common)">Download Links</h2>
  <div class="download_links">
    <button class="buttn">Mega</button>
    <button class="buttn">Gdrive</button>
    <button class="buttn">OneDrive</button>
    <button class="buttn">Mirror</button>
  </div>
</div>

{% endblock %}