{% extends 'layout.html' %}
{% block body %}
{% set fname = 'assets/img/' + movie.img_name %}
<div class="container2">
  <div class="card2">
    <div class="card-img">
      <img src={{url_for('static', filename=fname)}} alt={{movie.name}}>
    </div>
    <div class="description">
      <h2 class="title">{{movie.name}}</h2>
      <p>
        <!-- {{movie.description.split('\n')[0]}} -->
        <strong>Director:</strong> {{movie.director}}<br>
        <strong>Language:</strong> {{movie.lang}}<br>
        <strong>Film Industry:</strong> {{movie.film_industry}}<br>
        <strong>Genres:</strong> {{movie.genre}}<br>
        <strong>Cast:</strong> {{movie.cast}}<br>
      </p>
    </div>
  </div>
</div>
<div class="container2">
  <div class="description">
    <h2>Description: </h2>
    {%for description in movie.description.split('\n') %}
    <p>{{description}}</p>
    {%endfor%}
  </div>
</div>

<h2 style="text-align:center;color: #585858;">Trailer</h2>
<div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{movie.youtube_link}}" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
<div class="container2" style="flex-direction: column;">
  <h2 style="color: var(--common)">Download Links</h2>
  {% set array = [highlink, mediumlink,lowlink] %}
  {% for links in array %}
  <h3 class="quality_name">Download {{links.quality}}</h3>
  <div class="download_links">
    <a href="#" onclick="delayUrlLoad('{{links.mega_link}}', 500);return false" target="blank"><button class="buttn">Mega</button></a>
    <a href="#" onclick="delayUrlLoad('{{links.gdrive_link}}', 500);return false" target="blank"><button class="buttn">Gdrive</button></a>
    <a href="#" onclick="delayUrlLoad('{{links.onedrive_link}}', 500);return false" target="blank"><button class="buttn">Onedrive</button></a>
    <a href="#" onclick="delayUrlLoad('{{links.mirror_link}}', 500);return false" target="blank"><button class="buttn">Mirror</button></a>
  </div>
  {% endfor %}
 
</div>
<script>
  function delayUrlLoad(url, mils)
{
    setTimeout(function() {
        // window.location.href = url;
        window.open(
  url,'_blank' // <- This is what makes it open in a new window.
)
    }, mils)
}
</script>
{% endblock %}