{% extends 'layout.html' %}
{% block body %}
{% set fname = 'assets/img/' + movie.img_name %}
<div class="container2">
  <div class="card2">
    <div class="card-img">
      <img src={{url_for('static', filename=fname)}} alt={{movie.name}}>
    </div>
    <div class="description">
      <h2 class="title">{{movie.name}}</h2>
      <p>
        <!-- {{movie.description.split('\n')[0]}} -->
        <strong>Director:</strong> Madarchud<br>
        <strong>Language:</strong> English<br>
        <strong>Film Industry:</strong> {{movie .film_industry}}<br>
        <strong>Genres:</strong> {{movie.genre}}<br>
        <strong>Cast:</strong> Sharukh khan, kriti kharbanda<br>
      </p>
    </div>
  </div>
</div>
<div class="container2">
  <div class="description">
    <h2>Description: </h2>
    {%for description in movie.description.split('\n') %}
    <p>{{description}}</p>
    {%endfor%}
  </div>
</div>

<h2 style="text-align:center;color: #585858;">Trailer</h2>
<div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{movie.youtube_link}}" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
<div class="container2" style="flex-direction: column;">
  <h2 style="color: var(--common)">Download Links</h2>
  <div class="download_links">
    <button class="buttn">Mega</button>
    <button class="buttn">Gdrive</button>
    <button class="buttn">OneDrive</button>
    <button class="buttn">Mirror</button>
  </div>
</div>

{% endblock %}