{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
    <!-- Navigation-->

    <!-- Page Header-->
    {%set fname = 'assets/img/' + image_name %}
    <header class="masthead"
        style="background-image: url('{{url_for('static', filename=fname)}}')"></header>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Adding OR Editing a Blog</h1>
                        <span class="subheading">Edit Or Add your movie</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="my-5">
                        <form action="/uploader" method="POST" enctype="multipart/form-data" id='fileUpload'>
                            <div class="file-field">
                                <input type="file" id="myFile" name="files">
                                <!-- <label for="myFile">Image Upload</label> -->
                               <!-- <input type="button" style="display: none;" id="click"> -->
                            </div>
                        </form>
                        <form id="contactForm" action="/uploader/{{movie.sno}}" method="POST"
                            data-sb-form-api-token="API_TOKEN">


                            <div class="form-floating">
                                <input class="form-control" id="slug" type="text" name="img_name" placeholder="Image Name"
                                    value="{{movie.img_name}}" required />
                                <label for="name">Image Name</label>
                            </div>
                            
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a
                                        href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                            </div>
                            <!-- Submit Button-->
                            <!-- <button class="btn btn-primary text-uppercase" id="submitButton" onclick="onClick()">movie</button> -->
                            <input class="btn btn-primary" type="button" onclick="onClick()" value="Add">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    function onClick() {
        setTimeout(() => {
            document.getElementById('fileUpload').submit()
            console.log('Upload')
        }, 2000);
            
            document.getElementById('contactForm').submit()
            console.log("Clicked")
     
    }
</script>
{% endblock %}